@charset "UTF-8";

body{margin: 10vh 15vw 10vh 15vw;}

h1
{
	text-align: center;	
}

.container *
{
	margin-left: 20px;
	margin-right: 20px;
}

#userID, #userNick
{
	margin-top: 10px;
	text-align: center;
}


label
{
	text-align: center;
}

#userProfile
{
	width: 130px;
	height: 130px;
}

.container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid blue;
	margin: auto;
	margin-bottom: 45px;
	width: 75%;
	padding: 5px;
}

.container1
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
			
.userInfo
{
	display: flex;
	flex-direction: column;
	margin: 30px;
}
			
			
button 
{   
	background-color: blue;     
	color: white;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;   
}

.lastReview
{
	border: 2px solid blue;
	padding: 5px;
	margin: auto;
	width: 75%;
}

.lastReview label
{
	margin-left: 5px;
	margin-right: 5px;
}   

#recentReview
{
	margin: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#recentReviewStars
{
	-webkit-text-stroke-width: 1.5px;
 	-webkit-text-stroke-color: #2b2a29;
	-webkit-text-fill-color: gold;
}