@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

body{
	margin: 0;
}
a {
	text-decoration: none;
	color: #262223;
}
.header {
	display: flex;
  	align-content: right;
}
.imgWrapper{
	width: 30vw; 
	height: 10vw;
}
.signNav{
    flex-direction: column;
	margin-left:0;
	width: 100%;
	height: 10vw;
	display: flex;
	padding: 0;
}
.sign{
	margin-left: auto;
	float:right;
	height: 2vw;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
input{
	border-radius: 10px;
	background-color: #FFFFFF;
	border: none;	
	font-size: 1.5vw;
	margin-bottom:5vh;
	width: 6vw;
	height: 25vh;
	color: #262223;
	font-family: 'Nanum Gothic', sans-serif;
}
.nav{
	border: 3px solid #262223;
	border-radius: 10px;
	background-color: #FFFFFF;
	text-align: center;
    align-items: center;
	height: 4vw;
    padding: 1vw 0 0 0;
	font-size: 2.2vw;
	font-family: 'Nanum Gothic', sans-serif;
	margin:20vh 5vw 0 5vw;
}
