@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

body{
	margin: 0;
}
a {
	text-decoration: none;
	color: #262223;
}
.header {
	display: flex;
  	align-content: right;
}
.imgWrapper{
	width: 30vw; 
	height: 10vw;
}
.signNav{
    flex-direction: column;
	margin-left:0;
	width: 100%;
	height: 10vw;
	display: flex;
	padding: 0;
}
.sign{
	margin-left: auto;
	float:right;
	height: 2vw;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
input{
	border-radius: 10px;
	background-color: #FFFFFF;
	border: none;	
	font-size: 1.5vw;
	margin-bottom:5vh;
	width: 6vw;
	height: 25vh;
	color: #262223;
	font-family: 'Nanum Gothic', sans-serif;
}
#nav{
	list-style: none;
	border: 3px solid #262223;
	border-radius: 10px;
	background-color: #FFFFFF;
	height: 4vw;
	font-size: 1.5vw;
	font-family: 'Nanum Gothic', sans-serif;
	margin:20vh 5vw 0 5vw;
	z-index: 0;
}
#nav li{
	height: 100px;
	list-style: none;
	width: 19%;
	float: left;
    padding: 20px 0 0 0;
	font-family: 'Nanum Gothic', sans-serif;
}
#nav li li{
	list-style: disc;
	font-size: 1vw;
	margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    width: 33%;
	float: left;
	font-family: 'Nanum Gothic', sans-serif;
}
#nav ul {
	display: none;
	padding: 0;
	list-style: none;
}

#nav li:hover ul, #nav li:focus ul{
	display: list-item;
	position: relative; 
	width: 600px;
	float: left;
	border-radius: 10px;
	z-index: 100;
}
#nav li:hover, #nav li:focus{
	border-radius: 10px;
	z-index: 100;
}
#nav > li:last-child ul, #nav > li:nth-child(n+3) ul{
	right: 370px;
}