@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

.outer{
	margin: 0 100px 100px 100px; padding: 10px; border-radius: 10px;
}
.border{
	border: 2px solid black;
}
.flex{
	display: flex;
}
.centered{
	text-align: center;
	align-content: center;
	align-items: center;
}
.right{
	text-align: right;
	align-content: right;
	align-items: right;
}
.left{
	text-align: left;
	align-content: left;
	align-items: left;
}
.autoMargin {
	margin: auto;
}
.noMP {
	margin: 0;
	padding: 0;
}
.leftNoMargin {
	margin: auto;
	margin-left: 0;
}
.review {
	border-radius: 10px;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 30px;
}
.rank{
	margin: auto;
	margin-left: 10px;
}
.rankNum{
	margin-left: 15px;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba( 0, 0, 0, 0.7 );
    border-radius: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.rankImg{
	width: 200px;
	height: 290px;
}
.rankName{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
img[id="poster"]{
	width: 250px; height: 364px; 
	margin: 25px; padding: 0;
	overflow: hidden;
}
input[onclick="location.href='seungtae/signUp.jsp'"]{
    font-weight: bold;
    font-style: italic;
    background-color: rgba( 0, 0, 0, 0.5 );
    border: 2px solid; 
    border-color: rgba( f, f, f, 0.5 );
    color:#fff;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px;
    cursor: pointer;
    border-radius: 20px;
    
}
#ad{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wallpaper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 15%;
	height: 300px;
}
#adSizeName{
	color: white;
    font-size: 4em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-style: italic;
}
a {
	font-size: 70px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
td {
	width: 30%;
	margin: auto;
}
tr {
	text-align: center;
	align-content: center;
	align-items: center;
}
h3 {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
}
#nav li:hover iframe{
	height: 20vw;
}