@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');
div {
  border: 1px solid #bcbcbc;
}
p{
	text-align: left;
	height: 100%;
	font-size: 1vw;
	font-family: 'Do Hyeon', sans-serif;
    align-items: center;
    margin: 0;
    padding-top:20px;
	padding-left:20px;
}
h{
	font-size:2vw;
	font-family: 'Do Hyeon', sans-serif;
}
.table {
  display: table;
  width: 100%;

}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 0px 20px;
  width: 25vw;
  height: 25vw;
  
}