@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');
.title{
	text-align: center;
}


div {
	width: 100%;
	margin-bottom: 30px;
}

.poster-box {
    width:197px;
    overflow:hidden;
    float: left;
    margin-right: 10px;
    margin:0 auto;
}

.info-box {
	width:auto;
	object-fit:cover;
	float: left;
	font-size: 20px;
}

.button{
  width:140px;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button a{
  font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.effect{
  width:140px;
  height:50px;
  border:70px solid #34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  box-sizing:border-box;
}
.button:hover .effect{
  border:0px solid #34495e;
}
.button:hover a{
  color:#34495e;
}
