@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

div {
	width: 100%;
	margin-bottom: 30px;
}

.poster-box {
    width:197px;
    overflow:hidden;
    float: left;
    margin-right: 10px;
    margin:0 auto;
}

.info-box {
	width:auto;
	object-fit:cover;
	float: left;
	font-size: 20px;
}