@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

div {
	margin-bottom: 30px;
}

.info-star{
	display: flex;
	flex-direction: column;	
}

.poster-box {
    width:197px;
    overflow:hidden;
    float: left;
    margin-right: 10px;
    margin:0 auto;
}

.info-box {
	float: left;
	font-size: 20px;
}

.star-rating {
  display: flex;
  position: bottom;
  margin-bottom: 0px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

#review{
	width: 90%;
	height: 70px;
	float: left;
	margin-right: 5px;
}

#submit {
	width: 8%;
	height: 70px;
	float: right;
	cursor: pointer;
}