@charset "UTF-8";

 body{margin: 10vh 15vw 10vh 15vw;}

.top_container
 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.contents 
{
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.close 
{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus 
{
  color: red;
  cursor: pointer;
}

.container
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.buttons
{
	display: flex;
	justify-content: center;
}

.buttons button
{
	margin-left: 30px;
	margin-right: 30px;
}

.pwd_box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 50%;
}

input[type=password]
{
	width: 35%; 
	padding: 12px 20px;   
	display: inline-block;
	border: 2px solid blue; 
	margin-left: auto;
	margin-right: auto;
}

input[type=text]
{   
	width: 20%;   
	margin: 8px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 2px solid blue;   
	box-sizing: border-box;                  	   
}  

.normal
{
	border: 2px solid black;
}
		
.highlighted
{
	border: 4px solid red;
}

#avatarList
{
	list-style-type: none;
}

#avatarList li
{	
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#chg_profile img
{
	width: 60px;
	height: 60px;
}

.normal:hover
{
	border: 2px solid cyan;
}

button 
{   
	background-color: blue;   
	color: white;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;   
}     	
