@charset "UTF-8";

 #lst h1, #lst h2
 {
 	text-align: center;
 }

 #lst .top_container
 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

 #lst .contents 
{
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

 #lst .close 
{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

 #lst .close:hover,  #lst .close:focus 
{
  color: red;
  cursor: pointer;
}

 #lst .container
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


 #lst .buttons
{
	display: flex;
	justify-content: center;
}

 #lst .buttons button
{
	margin-left: 30px;
	margin-right: 30px;
}

 #lst .pwd_box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 50%;
}

#lst input[type=password]
{
	width: 35%; 
	padding: 12px 20px;   
	display: inline-block;
	border: 2px solid blue; 
	margin-left: auto;
	margin-right: auto;
}

#lst input[type=text]
{   
	width: 20%;   
	margin: 8px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 2px solid blue;   
	box-sizing: border-box;                  	   
} 

#lst input[type=text], #lst input[type=password]
{
	font-size: 15px;
}

#lst .normal
{
	border: 2px solid black;
}
		
#lst .highlighted
{
	border: 4px solid red;
}

#lst #avatarList
{
	list-style-type: none;
}

#lst #avatarList li
{	
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#lst #curr_avatar
{
	margin-top: 16px;
	margin-bottom: 16px;
}

#lst #chg_profile img
{
	width: 60px;
	height: 60px;
}

 #lst .normal:hover
{
	border: 2px solid cyan;
}

#lst button 
{   
	background-color: blue;   
	color: white;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;   
}

 #lst input[type=radio]
{
	display: none;
}     	
