@charset "UTF-8";

#lst h1
{
	text-align: center;	
}

#lst .container *
{
	margin-left: 20px;
	margin-right: 20px;
}

 #lst #userID, #lst #userNick
{
	margin-top: 10px;
	text-align: center;
}


#lst label
{
	text-align: center;
}

#lst #userProfile
{
	width: 130px;
	height: 130px;
}

#lst .container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid blue;
	margin: auto;
	margin-bottom: 45px;
	width: 75%;
	padding: 5px;
}

#lst .container1
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
			
#lst .userInfo
{
	display: flex;
	flex-direction: column;
	margin: 30px;
}
			
			
#lst button 
{   
	background-color: blue;     
	color: white;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;   
}

#lst .lastReview
{
	border: 2px solid blue;
	padding: 5px;
	margin: auto;
	width: 75%;
}

#lst .lastReview label
{
	margin-left: 5px;
	margin-right: 5px;
}   

#lst #recentReview
{
	margin: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#lst #recentReviewStars
{
	-webkit-text-stroke-width: 1.5px;
 	-webkit-text-stroke-color: #2b2a29;
	-webkit-text-fill-color: gold;
}