@charset "UTF-8";

			.container		
			{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			
			#userInfo
			{
				display: flex;
				flex-direction: column;
				margin: 30px;
			}
			
			.review
			{
				width: 75%;
				display: flex;
				flex-direction: column;
				margin: auto;
			}