@charset "UTF-8";

#lst table
{
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

#lst h1
{
	text-align: center;		
}

#lst .reviewList
{
	display: flex;
	flex-direction: column;
}

#lst .review
{
	border: 2px solid blue;
	margin-bottom: 100px;
	padding: 5px;
}

#lst .pageBox
{
	display: flex;
	justify-content: center;
}

#lst .pagination
{
	height: 50px;
	padding: 0px 5px;
	width: auto;
	float: right;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#lst .pagination li
{
	list-style: none; 
	padding: 5px 10px;
	font-weight: bold;
	border: 1px solid black;	
}

#lst label
{
	display: inline-block;
	margin-right: 20px;
}

#lst a
{
	text-decoration: none;
	color: black;
}

#lst p
{
	overflow-wrap: break-word;
}

#lst button
{   
	background-color: blue;   
	width: 100px;  
	color: white;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;   
}   

#lst button.edit
{
	float: right;
	margin: auto;
	margin-top: 20px;
}

#lst .editing
 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

#lst .contents 
{
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 50%; 
}

#lst .close 
{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#lst .close:hover, #lst .close:focus 
{
  color: red;
  cursor: pointer;
}

#lst .editingReview
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#lst .editReviewBtn button
{
	margin-left: 20px;
	margin-right: 20px;
}

#lst #tableInfo
{
	margin-bottom: 10px;
}

#lst .star-rating {
  display: flex;
  position: bottom;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  flex-direction: row-reverse;
  margin: auto;
}
 
#lst .star-rating input {
  display: none;
}
 
#lst .star-rating label {
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
#lst .star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
#lst .star-rating label:hover,
#lst .star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

#lst .reviewStars
{
	-webkit-text-stroke-width: 1.5px;
 	-webkit-text-stroke-color: #2b2a29;
	-webkit-text-fill-color: gold;
}

#lst textarea
{
	resize: none;
	margin: 20px;
}
         