@charset "UTF-8";

#lst ul {
	list-style-type: none;
	text-align: center;
}

#lst #avatarList li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#lst img:hover {
	border: 2px solid red;
}

#lst li img {
	width: 60px;
	height: 60px;
}

body {
	margin: 10vh 15vw 10vh 15vw;
}

#lst input[type=text], input[type=password] {
	width: 100%;
	margin: 8px 0;
	padding: 12px 20px;
	display: inline-block;
	border: 2px solid blue;
	box-sizing: border-box;
	font-size: 15px;
}
#lst input[type=radio]
{
    display: none;
}
#lst button {
	background-color: blue;
	width: 100px;
	color: white;
	padding: 15px;
	margin: 10px 0px;
	border: none;
	cursor: pointer;
}

#lst .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#lst .inner {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 30px;
	width: 20%;
}

#lst #avatar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin: auto;
}

#lst #avatarID {
	box-sizing: border-box;
	flex-basis: 100%;
	text-align: center;
}

#lst #join {
	text-align: center;
}

#lst .normal {
	border: 2px solid black;
}

#lst .normal:hover {
	border: 2px solid cyan;
}

#lst .highlighted {
	border: 4px solid red;
}

#lst .duplicate {
	width: 100%;
}