@charset "UTF-8";


a{
	font-size: 15px;
    line-height: 60px;
    letter-spacing: -0.3px;
    position: relative;
    display: block;
    font-weight: 500;
    color: #111;
    font-family: Roboto,NotosansKR,"Helvetica Neue",Helvetica,Arial,"Apple SD Gothic Neo",-apple-system,BlinkMacSystemFont,"Malgun Gothic",Dotum,sans-serif;
	text-align: center;
}

li{
	text-align: -webkit-match-parent;
	display: list-item;
	width: 346px;
    height: 60px;
    margin-right: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    float:left;
    position: relative;
}



ul{
	list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
        margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.genre_list{
    position: absolute;
    top: 19px;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 1px;
}

