@charset "UTF-8";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

footer {
	border: 2px solid black;
	text-align: center;
}
#center {
	border: 2px solid black;
	margin: 50vh;
	text-align: center;
}
a {
  	vertical-align: center;	
	text-decoration: none;
	color:white;
}
.header {
	display: flex;
  	align-content: right;
}
.signNav{
	background-color: #507CD9;
	margin-left:0;
	width: 100%;
  	flex-direction: column;
	display: flex;
	margin-left: auto;
}
.sign{
	margin-left: auto;
}
.nav{
	margin-top: auto;
	text-align: center;
	height: 30px;
	margin-top: 5px;
	padding: 5px;
	font-size: 40px;
	font-family: 'Do Hyeon', sans-serif;
}
.searchbar{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
	margin-top: 100px;
}
.container{
    width:50%;
    height:350px;
}