@charset "UTF-8";
.poster{
	display: block;
	width: 204px;
}
.list_movie .poster{
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
div{
	margin:0;
	display: block;
}

ol, li{
	list-style:none;
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;
}
li{
	display: list-item;
	text-align: -webkit-match-parent;
}

.os_windows body {
    letter-spacing: -0.05em;
}
body{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'SF Pro Display','AppleSDGothicNeo','Malgun Gothic','\B9D1\C740 \ACE0\B515','\B3CB\C6C0',dotum,sans-serif;
    color: #000;
}

.poster .thumb .txt{
	display: block;
    padding-top: 7px;
    font-size: 13px;
    line-height: 16px;
    color: #98989C;
}
.poster .rank{
	position: absolute;
    z-index: 1;
    top: 5px;
    left: 13px;
    font-family: 'SF-UI-Display-Thin', sans-serif;
    font-style: italic;
    font-size: 32px;
    color: #fff;
    text-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

.poster .content .item {
    display: block;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.poster .content .txt {
    display: block;
    padding-top: 7px;
    font-size: 13px;
    line-height: 16px;
    color: #98989C;
}
.poster .content .txt .info_txt {
    display: inline-block;
    vertical-align: top;
}
